/* public/css/productos.css */
.inicio {
    text-align: center;

}

.card {
    transition: transform 0.2s;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary {
    width: 100%;
    margin-top: auto;
}

.card-title {
    font-weight: 600;
    margin-bottom: 1rem;
}

#productos-container {
    padding: 2rem 0;
}

/* Estilos para el carrusel */
.carousel {
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    background-color: #f8f9fa;
}

.carousel .card {
    border: none;
    background: transparent;
}

/* Estilos para el botón de ofertas */
.btn-warning {
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btn-warning:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}